@model IEnumerable<Clothes_Models.Models.Product>

<section id="page-header" style="background-image: url('@Url.Content("~/img/banner/b1.jpg")');">
    <h2>#stayhome</h2>
    <p>Save More coupons & up to 70% off!</p>
</section>

<section id="product1" class="section-p1">
    <h2>Featured Products</h2>
    <p>Summer Collection New Modern Design</p>

    <div class="pro-container">
        @foreach (var product in Model)
        {
            <div class="pro">
                <img src="@product.imgUrl" alt="@product.Product_Name">
                <div class="des">
                    <span>@product.Brand.Brand_Name</span>
                    <h5>@product.Product_Description</h5>
                    <div class="star">
                        @for (int i = 0; i < product.Product_Rating; i++)
                        {
                            <i class="fas fa-star"></i>
                        }
                        @for (int i = product.Product_Rating; i < 5; i++)
                        {
                            <i class="far fa-star"></i>
                        }
                    </div>
                    <h4>$@product.Product_Price</h4>
                </div>
                <a href="#"><i class="fal fa-shopping-cart cart"></i></a>
            </div>
        }
    </div>
</section>


<section id="pagination" class="section-p1">
    <a href="#">1</a>
    <a href="#">2</a>
    <a href="#"><i class="fal fa-long-arrow-alt-right"></i></a>
</section>

<section id="newsletter" class="section-p1 section-m1">
    <div class="newstext">
        <h4> Sign Up For Newsletter</h4>
        <p> Get E-mail updates about our latest shop and <span>special offers</span></p>
    </div>
    <div class="form">
        <input type="text" placeholder="Your Email Address">
        <button class="normal"> Sign Up</button>
    </div>
</section>
